* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
}

.calc {
    width: 900px;
    margin: 0 auto;
}


.result {
    margin: 10px auto 0 auto;
    width: 500px;
    background-color: rgb(241, 241, 241);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
}

button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

button:active {
    border: 3px solid #dddddd;
    box-shadow: 2px 2px 0px #dddddd;
}

.numbers button:active {
    background: linear-gradient(to top, #1A6DFF, #C822FF);
    color: #fff;

}

button:hover {
    /* background: linear-gradient(to top, #720082, #7e0092); */
}

.buttons {
    width: 500px;
    margin: 0 auto;
}

.operations {
    display: flex;
    justify-content: space-evenly;
}

.operation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operations button {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    font-size: 40px;
}

.numbers {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
}

.numbers button {
    font-size: 20px;
    margin: 5px;
    width: 70px;
    height: 70px;
}

input {
    cursor: pointer;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 150px;
    height: 50px;
}

input:active {
    border: 2px solid #dddddd;
    box-shadow: 2px 2px 0px #dddddd;
}

.input-wrapper {
    display: flex;
    justify-content: space-evenly;
}